:root {
    --orange: #fa6b38;
    --white: #ffffff;
    --black: #333333;
    overflow-x: visible;
}

/* ::-webkit-scrollbar {
    display: none;
} */

body {
    /* overflow-x:hidden; */
    /* width: 100vw; */
    user-select: none;
}

.canvas {
    top: 0;
    position: fixed;
    z-index: -400;
}

.section {
    width: 100%;
}

/* @import url("./about.css");
@import url("./nav.css");
@import url("./main.css");
@import url("./org.css");
@import url("./faq.css");
@import url("./themes.css");
@import url("./timeline.css");
@import url("./end.css"); */
