/* .nav {
    display: flex;
    width: 100vw;
}

.nav .title, .nav .title img {
    height: 100px;
    margin: 10px
}

.nav .buttons {
    position: absolute;
    right: 20px;
    display: flex;
    line-height: 100px;
}

.nav .buttons .icon {
    margin: 10px;
} */

.logoImg{
    width: 14vw;
}