/* .nav {
    display: flex;
    width: 100vw;
}

.nav .title, .nav .title img {
    height: 100px;
    margin: 10px
}

.nav .buttons {
    position: absolute;
    right: 20px;
    display: flex;
    line-height: 100px;
}

.nav .buttons .icon {
    margin: 10px;
} */

@media only screen and (max-width: 768px) {

    .navSocialIcons{
        width: 30px !important;
        height: 30px !important;
    }

    .logoImg{
        width: 30% !important;
    }

    .icon{
        margin: auto 0.2em !important;
    }
}

.logoImg{
    width: 18%;
}

.icon{
    margin: auto 0.5em;
}