.orgCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* flex-basis: 10%; */
}

.orgHeading{
    color: rgba(254, 103, 57, 1);
    font-size: 3.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.orgSection{
    text-align: center;
    background: rgb(255, 221, 201, 1);
    width: 92%;
    margin: auto;
    border-radius: 0.4em;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1em;
    margin-bottom: 2em;
}


.person-info{
    /* border: 5px solid red; */
    background: white;
    box-shadow: 0 15px 30px 0 rgb(214 93 32 / 25%);
    text-align: center;
    /* padding: 1em; */
    margin: 0.3em 0.5em;
    /* min-width: 160px; */
    /* width: 21%; */
    height: fit-content;
    border-radius: 0.5em;
    overflow: hidden;
    min-width: 218px;
}

@media only screen and (max-width: 500px)
{
    .person-img, .person-img img{
        width: 300px;
        min-height: 250px;
        max-height: 250px; 
        object-fit: cover;
    }
    
}

.person-img, .person-img img{
    width: 220px;
    min-height: 250px;
    max-height: 250px; 
    object-fit: cover;
}

.person-more-info{
    display: flex;
    justify-content: space-between;
    
}
.person-more-info-org{
    display: flex;
    justify-content: center;
    
}

.person-social{
    position: relative;
    bottom: 0;
    font-size: 1em;
    flex-basis: 20%;
    
}

.person-social-icon{
    padding: 0.7em;
    background: #2867B2;
    color: white;
    border-bottom-right-radius: 0.5em;
}

.person-name {
    font-weight: 500;
    text-align: center;
}