.timelineSection{
    text-align: center;
    background: rgb(255, 221, 201, 1);
    width: 92%;
    margin: auto;
    border-radius: 0.4em;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-bottom: 2em;
}
